@model List<Sistema_Subastas.Models.usuarios>

@{
    ViewData["Title"] = "Reporte de Usuarios totales";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2 class="text-center">Reporte de Usuarios Totales Registrados</h2>
@* <link href="../css_R/Style1.css" rel="stylesheet" />
  <link href="~/css/Graficar.css" rel="stylesheet" />
 *@<link href="~/css/Graficar.css" rel="stylesheet" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />





<form asp-action="GenerarReporteUsuarios" method="post" class="mt-3">
    <div class="row">
            <button type="submit" class="btn colorCafe mt-4">Mostrar Reporte</button>
    </div>
</form>

@if (Model != null && Model.Any())
{
	<br />
    <form asp-action="GenerarPDFUsuarios" method="post">
        <button type="submit" class="btn colorCafe">Descargar PDF</button>
    </form>
    <div class="mt-4">
        <h4>Usuarios totales registrados:</h4>
        <table class="table table-bordered table-striped">
            <thead class="table colorc">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Fecha de Registro</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>@usuario.id</td>
                        <td>@usuario.nombre</td>
                        <td>@usuario.fecha_registro.ToString("dd/MM/yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>

        <h5 class="text-end"><strong>Total de Usuarios Registrados: @Model.Count</strong></h5>

        
    </div>
}




