@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido @ViewBag.NombreUsuario</h1>

    <a asp-controller="Ventas" asp-action="Historial" class="btn btn-primary">
        Ver Historial de Ventas
    </a>

    <a asp-controller="Ventas" asp-action="HistorialCompras" class="btn btn-success">
        Ver Historial de Compras
    </a>

    <a asp-controller="Pujas" asp-action="PujasUsuario" class="btn btn-info">
        Ver Mis Pujas
    </a>

</div>