@{
    ViewData["Title"] = "Home Admin Page";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/css/Style1.css" asp-append-version="true" />

<div class="admin-home-container">
    <h1 class="admin-title">Bienvenido, @ViewBag.NombreUsuario</h1>
    

    <div class="admin-button-grid">

        <a asp-controller="Reportes" asp-action="ArticulosMasPopulares">Artículos más Populares</a>
        <a asp-controller="Reportes" asp-action="UsuariosMasActivos">Usuarios más Activos</a>
        <a asp-controller="ReporteGrafico" asp-action="ReportesUsuarios">Reporte Usuarios Totales</a>
        <a asp-controller="ReporteGrafico" asp-action="Index">Reporte Usuarios por Fecha</a>
        <a asp-controller="Disputas" asp-action="Index">Reporte de Disputas</a>

        <a asp-controller="Estadisticas" asp-action="IngresosPorCategoria">Gráfico Ingresos por Categoría</a>
        <a asp-controller="Graficas" asp-action="ResumenUsuarios">Gráfico: Precio salida y entrada</a>
        <a asp-controller="ReporteGrafico" asp-action="SubastasPorUsuario">Subastas por Usuario</a>
        <a asp-controller="ReporteGrafico" asp-action="Graficos">Subastas Abiertas y Cerradas</a>



    </div>
</div>
